.body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.nav{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
.main-content{
    padding: 20px;
    background-color: black
}